.app__card{
    margin-top: 31px;
    border-bottom: 1px solid #E0E0E0;
}

.card__box{
    padding: 0;
    height: 215px;
}

.card__img{
    float: left;
}

.card__img img{
    width: 246px;
    height: 180px;
}

.card__text{
    margin-left: 264px;
}

.card__title{
    margin: 0;
    font-weight: 700;
    font-size: 30px;
}

.card__year{
    margin: 20px 26px 22px 0;
    /* padding: 10px auto; */
    width: 62px;
    height: 25px;
    background: #142850;
    border-radius: 16px;

    text-align: center;
    font-weight: 900;
    font-size: 18px;
    color: white;
}

.year__text{
    margin-left: 10px;
}

.card__category{
    margin-left: 36px;
    font-weight: 400;
    font-size: 20px;
    color: #8695A4;
}

.card__article{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}