.app__footer{
    height: 182px;
    text-align: center;
}

.footer__icon{
    margin-top: 134px;
}

.footer__icon img{
    margin-right: 35px;
}

.footer__copy{
    margin-top: 26px;
    font-weight: 400;
    font-size: 14px;
}