.app__hero{
    height: 450px;
    margin: 158px 148px 0 148px;
}
.hero__text{
    float: left;
}
.hero__title{
    font-weight: 700;
    font-size: 44px;
}

.hero__article{
    margin-top: 40px;

    font-weight: 400;
    font-size: 16px;
}

.hero__text button{
    width: 208px;
    height: 47px;
    background: #FF6464;
    border: none;
    margin-top: 47px;

    font-weight: 500;
    font-size: 20px;
    color: white;
}

.hero__img{
    float: right;
}