.app__navbar{
    text-align: right;
    /* list-style: none; */
    margin: 27px 60px 0 0;
}

.navbar__menu li{
    display: inline;
    margin-left: 33px;
}

.navbar_link{
    font-weight: 500;
    font-size: 20px;
}