.app__recentPost{
    width: 100%;
    height: 396px;

    background: #EDF7FA;
}

.recentPost__head{
    padding: 27px 148px;
}

.recentPost__head li{
    display: inline;
}

.col1__title{
    font-weight: 400;
    font-size: 22px;
}

.col2__title{
    float: right;
    font-weight: 400;
    font-size: 16px;
}

.recentPost__article{
    margin-top: 22px;
}