.app__rectangle{
    width: 418px;
    height: 295px;
    margin: auto;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
}

.rectangle__content{
    padding: 24px;
}

.rectangle__title{
    margin: 0;
    font-weight: 700;
    font-size: 26px;
}

.rectangle__log{
    margin-top: 17px;
    
    font-weight: 400;
    font-size: 18px;
}

.rectangle__text{
    font-weight: 400;
    font-size: 16px;
}

.rectangle__array{
    display: flex;
}